.gallery {
  background-color: white;
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: center;
}

.button_left {
  background-color: white;
  padding: 20px;
  margin-top: -5%;
}

.button_right {
  background-color: white;
  transform: rotate(180deg);
  justify-self: flex-end;
  padding: 20px;
  margin-top: -5%;
}
.button_right:hover {
  opacity: 80%;
  cursor: pointer;
}
.button_left:hover {
  opacity: 80%;
  cursor: pointer;
}

.description {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  transform: translateY(-100%);
  order: 2;
}

.display {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 90vw;
}

.displayedimg {
  order: 1;
}

.descript {
  opacity: 80%;
}

.imglist {
  display: flex;
  justify-content: space-evenly;
  order: 3;
}

.imglist > img {
  max-width: 10vw;
}

#active {
  border: 3px solid black;
}

.showoff {
  cursor: pointer;
}
