*{
    margin:0;
    padding:0;
    list-style:none;
}
body {
    background-image: url("assets/topography.png");
    font-family: consolas;
    overflow-x: hidden;
    font-size: large;
}
#text{
    padding:5% 10% 5% 10%;
}
header{
    background-color: rgb(40, 40, 40);
    width:100%;
    display:table;
    padding:0.4%;
}
#logo{
    height:60px;
    width:80px;
    margin-left:10%;
}
h3{
    color:deeppink;
}
header a{
    color:deeppink;
    float: right;
    padding:20px;
    font-size: 20px;
    letter-spacing: 1px;
}
#nav{
    margin-right:10%;
}
#span{
    font-weight:bold;
    text-align: center;
    margin:4% 0% 4% 0%;
}
h1,h2,h3,p{
    padding-bottom:10px;
    padding-top:10px;
}
#openingtag{
    text-align: center;
}