* {
  margin: 0;
  padding: 0;
}
.header {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  background-color: purple;
  width: 100vw;
  height: 70px;
}

.header > .item {
  background-color: cyan;
  width: 50px;
  height: 20px;
  margin-top: 25px;
  margin-left: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 500px;
}

.content {
  background-color: yellow;
  width: 70vw;
  height: 500px;
}

.sidebar {
  background-color: green;
  width: 30vw;
  height: 500px;
}
