*{
    list-style:none;
}
header{
    background-color: gray;
    font-weight: bold;
    display:table;
    padding-top:1%;
    padding-bottom: 1%;
    width:101%;
    border:1px solid black;
    margin: -8px;
}

header>h1{
    padding-left:10%;
}

body{
    overflow-x: hidden;
}

form{
    font-weight: bold;
}

#context{
    padding-left:10%;
    padding-right:10%;
}

#first_column{
    border:1px solid black;
}